/.metadata/
/S13L03 - Integrate template with project using JSTL/nbproject/private/
/S13L03 - Integrate template with project using JSTL/nbbuild/
/TestWebApplication1/build/
/ECommerce site/nbproject/private/
/ECommerce site/nbbuild/